<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a38d86">  <td>21/02/04 17:35:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.ltfs.scripts.LoginTest@c81cdd1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450003680</td>   <td></td> </tr>
<tr bgcolor="6d64ab">  <td>21/02/04 17:35:57</td>   <td>39911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin1()[pri:1, instance:com.ltfs.scripts.LoginTest@c81cdd1]">testLogin1</td> 
  <td>main@450003680</td>   <td></td> </tr>
<tr bgcolor="6d64ab">  <td>21/02/04 17:36:00</td>   <td>43071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin2()[pri:2, instance:com.ltfs.scripts.LoginTest@c81cdd1]">testLogin2</td> 
  <td>main@450003680</td>   <td></td> </tr>
<tr bgcolor="a38d86">  <td>21/02/04 17:36:07</td>   <td>50716</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.teardown()[pri:0, instance:com.ltfs.scripts.LoginTest@c81cdd1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450003680</td>   <td></td> </tr>
</table>
